frameworks/cocos2d-x/cocos/2d/Debug.win32
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32
runtime/win32/
frameworks/runtime-src/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/SandBox.opensdf
frameworks/runtime-src/proj.win32/SandBox.sdf
frameworks/runtime-src/proj.win32/SandBox.v12.suo
frameworks/runtime-src/Classes/core/proj.win32/Debug.win32/